img{  
}



.imagenesPrincipales{
    width: 400px;
    height: 300px;
    border-radius:69%;
    text-align: center;
    display:block;
    margin:auto;
    
}




iframe{
    display:block;
    margin:auto;
    width: 600px;
    height: 400px;
    border-radius:59%;

}




.ImagenesSecundarias{
    text-align: center;
    display:block;
    margin:auto;
    
}